:local(.threadContent) {
    width: 500px;
    margin: 20px auto;
}

:local(.addPostForm) {
    margin-top: 20px;
}

:local(.toolbar) {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

:local(.checkbox) {
    margin-right: 20px;
}


